<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITMO.Studing.ADO.FinalTask.Properties.Settings.shipsConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ships;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ITMO.Studing.ADO.FinalTask.Properties.Settings.ShipsDBConnectionString"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=ShipsDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>